html, body {
    width: 100%;
    height: 100%;
    background: #fff;
    overflow: hidden;
}

body {
    background: #fff;
    
    box-sizing: border-box;
}

#header {
    margin-bottom: 0px !important;
}

.navbar-header {
    height: 20px !important;    
}

/* TABS */
#app-container {
    width: 100%;
    height: calc(100% - 55px);    
}

#tab-region {
    width: 100%;
    height: calc(100% - 50px);
}

#tab_container_region, #tab_container {
    width: 100%;
    height: 100%;    
}

#header_container {
    height: 40px;
    margin-top: 2px;
}


#panel_container {
    width: 100%;
    height: 100%;
    height: calc(100% - 38px);
}

.panel_container {
    width: 100%;
    height: 100%;
}
.tab_panel {
    width: 100%;
    height: 100%;
}

.nav-tabs {
    border-bottom: none;
}

.nav-tabs>li>a {
    box-shadow: inset 0 1px 0 #ddd !important;
    border-radius: 0 0 3px 3px !important;
    padding-top: 4px !important;
    font-size: 0.85em !important;
}

.nav-tabs>li>a:hover {
    box-shadow: inset 0 2px 0 #2196f3 !important;
    
}


.nav-tabs>li.active>a {
    box-shadow: inset 0 2px 0 #2196f3 !important;
}



/* MAP */
.map_item {
    width: 100%;
    height: 100%;   
}

/* TEST */
#panel-test {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background: #00ff00;
    opacity: 0.5;
}


